<app-selector>
    <h1 class="fw-bold">Market 1</h1>
    <p class="fw-normal">- Here we will get Live Result of Market 1 </p>
</app-selector>



<div class="container">
    <div class="row">
        <div class="col-md-12 p-4 text-center">
            <h2 class="text-danger fw-bolder"> लीक - लीक - लीक</h2>
            <span class="text-primary fw-bolder">सिंगल जोड़ी मै होगा धमाका</span>
            <p style="text-align: justify;">गली, दिसावर सिंगल जोड़ी धमाका डायरेक्ट कम्पनी में कांटेक्ट करें और लाखों कमाए यहाँ हमारा काम बोलता है सिर्फ (1) सिंगल जोड़ी में 101% गेम पास होने की फुल गारण्टी है हमसे जुड़ने के लिए अभी WhatsApp Msg करें
                गेम किसी का बाप भी नहीं काट सकता गेम काटने वाले को इनाम, आज की सिंगल जोड़ी लेने के लिए इस नंबर पर व्हाट्सएप करें</p>
        </div>
    </div>
</div>


<ul *ngFor="let view of oldmobile">
    <li>{{view.userId}}</li>
    <li>{{view.title}}</li>
    <li>{{view.body}}</li>
</ul>