<app-selector>
    <h1 class="fw-bold">How to play</h1>
    <p class="fw-normal">- Here we will lean how to play</p>
</app-selector>

<div class="container-fluid selection-bg ">
    <div class="row  p-5">
        <div class="col-md-6 py-3 d-flex justify-content-center">
            <img src="../../../assets/howtoplay.jpg" alt="" class="img-fluid ">
        </div>
        <div class="col-md-6 py-3 m-auto align-content-center">
            <h3 class="def-heading">How to Play Online Matka with <span>Mobile Application</span></h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam, dolor! Veniam numquam 
            expedita laborum quaerat quos praesentium assumenda mollitia itaque voluptatum maiores repellat
            necessitatibus, repellendus, hic explicabo asperiores debitis nulla!</p>
            <ul class="listcheck">
                <li>Download POD App</li>
                <li>Recharge Your Wallet</li>
                <li>Play Satta Betting</li>
                <li>Win Huge Real Cash</li>
            </ul>
            <button class="btn btn-outline-danger" ref="#">
                <i class="fa fa-android" aria-hidden="true"></i>
                Download App
            </button>
        </div>
    </div>
</div>




